<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>africarun_bg_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,320}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,643},{480,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>africarun_fg_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>africarun_no_alpha_sheet0.png</string>
            <key>size</key>
            <string>{962,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75b3f700a238a998ff8772a9d6a91780:f23a6ddcb85d78afaf32a0a5e27bf787:e8409d0f9e59ceb0f58c914aeb91611a$</string>
            <key>textureFileName</key>
            <string>africarun_no_alpha_sheet0.png</string>
        </dict>
    </dict>
</plist>
