<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>settings_divider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{2,12},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_input_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{2,2},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>generic_rmp_no_alpha_sheet0.png</string>
            <key>size</key>
            <string>{12,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f47187a14f19ac3850e1fe3b53850307:57be0a245dc998132b766282283ffdc7:1b54d3419a346cbd5b245fb36358ea92$</string>
            <key>textureFileName</key>
            <string>generic_rmp_no_alpha_sheet0.png</string>
        </dict>
    </dict>
</plist>
