<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>africarun_bg_framebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,20}</string>
                <key>textureRect</key>
                <string>{{482,1},{960,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_bg_indicator.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,503}</string>
                <key>spriteSourceSize</key>
                <string>{73,503}</string>
                <key>textureRect</key>
                <string>{{407,1},{73,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>africarun_indicator_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,68}</string>
                <key>spriteSourceSize</key>
                <string>{41,68}</string>
                <key>textureRect</key>
                <string>{{456,1120},{41,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>africarun_indicator_fg_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,226}</string>
                <key>spriteSourceSize</key>
                <string>{43,226}</string>
                <key>textureRect</key>
                <string>{{341,346},{43,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>africarun_indicator_fg_zh-Hans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,163}</string>
                <key>spriteSourceSize</key>
                <string>{47,163}</string>
                <key>textureRect</key>
                <string>{{303,574},{47,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_indicator_fg_zh-Hant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,163}</string>
                <key>spriteSourceSize</key>
                <string>{47,163}</string>
                <key>textureRect</key>
                <string>{{418,623},{47,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>africarun_indicator_lines_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,143}</string>
                <key>spriteSourceSize</key>
                <string>{44,143}</string>
                <key>textureRect</key>
                <string>{{156,1117},{44,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_indicator_lines_zh-Hans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,36}</string>
                <key>spriteSourceSize</key>
                <string>{49,36}</string>
                <key>textureRect</key>
                <string>{{456,1190},{49,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_indicator_lines_zh-Hant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,36}</string>
                <key>spriteSourceSize</key>
                <string>{49,36}</string>
                <key>textureRect</key>
                <string>{{264,1163},{49,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_paytable_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{56,82}</string>
                <key>textureRect</key>
                <string>{{386,506},{56,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_paytable_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,404}</string>
                <key>spriteSourceSize</key>
                <string>{343,404}</string>
                <key>textureRect</key>
                <string>{{1,1},{343,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_s0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,111}</string>
                <key>spriteSourceSize</key>
                <string>{153,111}</string>
                <key>textureRect</key>
                <string>{{1,1123},{153,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>africarun_s0_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,49}</string>
                <key>spriteSourceSize</key>
                <string>{157,49}</string>
                <key>textureRect</key>
                <string>{{290,346},{157,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_s0_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,55}</string>
                <key>spriteSourceSize</key>
                <string>{105,55}</string>
                <key>textureRect</key>
                <string>{{423,788},{105,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_s1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,153}</string>
                <key>spriteSourceSize</key>
                <string>{158,153}</string>
                <key>textureRect</key>
                <string>{{1,963},{158,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_s10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{285,660},{142,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_s11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{290,804},{142,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_s12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,145}</string>
                <key>spriteSourceSize</key>
                <string>{154,145}</string>
                <key>textureRect</key>
                <string>{{1,814},{154,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>africarun_s12_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,35}</string>
                <key>spriteSourceSize</key>
                <string>{155,35}</string>
                <key>textureRect</key>
                <string>{{467,963},{155,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_s12_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,55}</string>
                <key>spriteSourceSize</key>
                <string>{106,55}</string>
                <key>textureRect</key>
                <string>{{156,1163},{106,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>africarun_s2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{156,963},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>africarun_s3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,152}</string>
                <key>spriteSourceSize</key>
                <string>{149,152}</string>
                <key>textureRect</key>
                <string>{{1,506},{149,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>africarun_s4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,152}</string>
                <key>spriteSourceSize</key>
                <string>{149,152}</string>
                <key>textureRect</key>
                <string>{{1,346},{149,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>africarun_s5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,152}</string>
                <key>spriteSourceSize</key>
                <string>{149,152}</string>
                <key>textureRect</key>
                <string>{{1,660},{149,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>africarun_s6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,155}</string>
                <key>spriteSourceSize</key>
                <string>{149,155}</string>
                <key>textureRect</key>
                <string>{{310,963},{149,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_s7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,131}</string>
                <key>spriteSourceSize</key>
                <string>{144,131}</string>
                <key>textureRect</key>
                <string>{{310,1114},{144,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>africarun_s8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,131}</string>
                <key>spriteSourceSize</key>
                <string>{143,131}</string>
                <key>textureRect</key>
                <string>{{157,806},{143,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_s9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,136}</string>
                <key>spriteSourceSize</key>
                <string>{148,136}</string>
                <key>textureRect</key>
                <string>{{152,346},{148,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_symbol_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,131}</string>
                <key>spriteSourceSize</key>
                <string>{144,131}</string>
                <key>textureRect</key>
                <string>{{152,660},{144,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>africarun_symbol_frame_square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,152}</string>
                <key>spriteSourceSize</key>
                <string>{149,152}</string>
                <key>textureRect</key>
                <string>{{152,506},{149,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>africarun_sheet0.webp</string>
            <key>size</key>
            <string>{503,1246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24f27e79a7cdc5dd4cd114485ea62844:02f1db32da326d1d1675b063b63a4b79:24fc5b98971a54b4d910507f52db80d2$</string>
            <key>textureFileName</key>
            <string>africarun_sheet0.webp</string>
        </dict>
    </dict>
</plist>
