<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_indicator.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{146,1135},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alert_popup_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{228,1548},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>announcement_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,43}</string>
                <key>spriteSourceSize</key>
                <string>{150,43}</string>
                <key>textureRect</key>
                <string>{{206,1},{150,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{146,1077},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigwin_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,59}</string>
                <key>spriteSourceSize</key>
                <string>{35,73}</string>
                <key>textureRect</key>
                <string>{{206,245},{35,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigwin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{25,57}</string>
                <key>spriteSourceSize</key>
                <string>{35,73}</string>
                <key>textureRect</key>
                <string>{{225,782},{25,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigwin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{35,59}</string>
                <key>spriteSourceSize</key>
                <string>{35,73}</string>
                <key>textureRect</key>
                <string>{{146,1243},{35,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigwin_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,59}</string>
                <key>spriteSourceSize</key>
                <string>{35,73}</string>
                <key>textureRect</key>
                <string>{{146,1306},{35,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigwin_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,57}</string>
                <key>spriteSourceSize</key>
                <string>{35,73}</string>
                <key>textureRect</key>
                <string>{{146,1432},{35,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bigwin_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,59}</string>
                <key>spriteSourceSize</key>
                <string>{35,73}</string>
                <key>textureRect</key>
                <string>{{185,1243},{35,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigwin_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,59}</string>
                <key>spriteSourceSize</key>
                <string>{35,73}</string>
                <key>textureRect</key>
                <string>{{146,1369},{35,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigwin_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,57}</string>
                <key>spriteSourceSize</key>
                <string>{35,73}</string>
                <key>textureRect</key>
                <string>{{206,308},{33,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigwin_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,59}</string>
                <key>spriteSourceSize</key>
                <string>{35,73}</string>
                <key>textureRect</key>
                <string>{{185,1306},{35,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigwin_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,59}</string>
                <key>spriteSourceSize</key>
                <string>{35,73}</string>
                <key>textureRect</key>
                <string>{{185,1369},{35,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigwin_comma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{15,29}</string>
                <key>spriteSourceSize</key>
                <string>{17,73}</string>
                <key>textureRect</key>
                <string>{{191,1588},{15,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bigwin_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{17,73}</string>
                <key>textureRect</key>
                <string>{{207,1432},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigwin_progress_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,87}</string>
                <key>spriteSourceSize</key>
                <string>{167,87}</string>
                <key>textureRect</key>
                <string>{{55,1303},{167,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bigwin_progress_fill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,62}</string>
                <key>spriteSourceSize</key>
                <string>{413,62}</string>
                <key>textureRect</key>
                <string>{{92,428},{413,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bigwin_space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,35}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{17,73}</string>
                <key>textureRect</key>
                <string>{{247,1090},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigwin_text0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,87}</string>
                <key>spriteSourceSize</key>
                <string>{387,87}</string>
                <key>textureRect</key>
                <string>{{55,912},{387,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bigwin_text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,87}</string>
                <key>spriteSourceSize</key>
                <string>{350,87}</string>
                <key>textureRect</key>
                <string>{{158,428},{350,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bigwin_text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,87}</string>
                <key>spriteSourceSize</key>
                <string>{423,87}</string>
                <key>textureRect</key>
                <string>{{92,1},{423,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bigwin_text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,87}</string>
                <key>spriteSourceSize</key>
                <string>{456,87}</string>
                <key>textureRect</key>
                <string>{{1,1},{456,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bigwin_text4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,87}</string>
                <key>spriteSourceSize</key>
                <string>{447,87}</string>
                <key>textureRect</key>
                <string>{{1,461},{447,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boqu_slotscoin_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,53}</string>
                <key>spriteSourceSize</key>
                <string>{63,53}</string>
                <key>textureRect</key>
                <string>{{158,782},{63,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boqu_slotscoin_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,110}</string>
                <key>spriteSourceSize</key>
                <string>{130,110}</string>
                <key>textureRect</key>
                <string>{{55,1474},{130,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{200,1135},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_control_notification_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,42}</string>
                <key>spriteSourceSize</key>
                <string>{86,42}</string>
                <key>textureRect</key>
                <string>{{206,155},{86,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>check_box_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{215,843},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_box_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{189,1471},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_circle_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{189,1510},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_gray_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{159,884},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin4Top2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{159,839},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_fill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{224,1243},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_fill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,17}</string>
                <key>spriteSourceSize</key>
                <string>{24,17}</string>
                <key>textureRect</key>
                <string>{{226,396},{24,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_fill3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,20}</string>
                <key>spriteSourceSize</key>
                <string>{23,20}</string>
                <key>textureRect</key>
                <string>{{228,1496},{23,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_fill4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{26,23}</string>
                <key>textureRect</key>
                <string>{{224,1272},{26,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_fill5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{224,1424},{20,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_fill6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{228,1471},{21,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_fill7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{226,369},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_fill8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{41,1588},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_fill9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{215,882},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_bar_bg_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{228,1523},{21,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_bar_fill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,19}</string>
                <key>spriteSourceSize</key>
                <string>{361,19}</string>
                <key>textureRect</key>
                <string>{{183,1},{361,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>messageBox_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{146,1189},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messageBox_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{189,1549},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outro_share_checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{37,36}</string>
                <key>textureRect</key>
                <string>{{1,1570},{37,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>outro_share_checkedbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{37,36}</string>
                <key>textureRect</key>
                <string>{{213,1010},{37,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paytable_bet_more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{94,66}</string>
                <key>textureRect</key>
                <string>{{146,912},{94,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paytable_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{200,1189},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_box_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,213}</string>
                <key>spriteSourceSize</key>
                <string>{50,213}</string>
                <key>textureRect</key>
                <string>{{1,1353},{50,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_close_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{213,1050},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_green_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{204,1090},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_pink_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{183,369},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_tab_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,437}</string>
                <key>spriteSourceSize</key>
                <string>{50,437}</string>
                <key>textureRect</key>
                <string>{{1,912},{50,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selected_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{92,845},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settings_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{187,884},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbarcoins_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{224,1299},{21,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbarcoins_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{71,1588},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbarcoins_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{101,1588},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbarcoins_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{131,1588},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbarcoins_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{224,1324},{21,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbarcoins_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{161,1588},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbarcoins_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{224,1349},{21,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbarcoins_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{224,1448},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbarcoins_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{224,1374},{21,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbarcoins_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{224,1399},{21,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbarcoins_comma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{41,1570},{11,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topbarcoins_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{202,839},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbarcoins_space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,11.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{247,1090},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unselected_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{146,1010},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>generic_rmp_sheet0_100.png</string>
            <key>size</key>
            <string>{251,1608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81897f0f17a20cdcfb830e21e0c13d19:287217cf1e9d589e14c6d6c35a0a9e05:70f5de2a5fe70d92e88d3951aa9625ad$</string>
            <key>textureFileName</key>
            <string>generic_rmp_sheet0_100.png</string>
        </dict>
    </dict>
</plist>
